<div class="technologies-grid">
  <div class="tech-category">
    <h3 class="category-title">Frontend Development</h3>
    <div class="tech-items">
      <div class="tech-item" title="Angular">
        <div class="tech-icon">
          <i class="fab fa-angular"></i>
        </div>
        <span class="tech-name">Angular</span>
      </div>
      <div class="tech-item" title="Laravel">
        <div class="tech-icon">
          <i class="fab fa-laravel"></i>
        </div>
        <span class="tech-name">Laravel</span>
      </div>
      <div class="tech-item" title="TypeScript">
        <div class="tech-icon">
          <i class="fab fa-js"></i>
        </div>
        <span class="tech-name">TypeScript</span>
      </div>
      <div class="tech-item" title="JavaScript">
        <div class="tech-icon">
          <i class="fab fa-js"></i>
        </div>
        <span class="tech-name">JavaScript</span>
      </div>
      <div class="tech-item" title="Tailwind CSS">
        <div class="tech-icon">
          <i class="fab fa-css3-alt"></i>
        </div>
        <span class="tech-name">Tailwind</span>
      </div>
      <div class="tech-item" title="HTML5">
        <div class="tech-icon">
          <i class="fab fa-html5"></i>
        </div>
        <span class="tech-name">HTML5</span>
      </div>
      <div class="tech-item" title="CSS3">
        <div class="tech-icon">
          <i class="fab fa-css3-alt"></i>
        </div>
        <span class="tech-name">CSS3</span>
      </div>
      <div class="tech-item" title="SCSS">
        <div class="tech-icon">
          <i class="fab fa-sass"></i>
        </div>
        <span class="tech-name">SCSS</span>
      </div>
    </div>
  </div>

  <div class="tech-category">
    <h3 class="category-title">Backend & Database</h3>
    <div class="tech-items">
      <div class="tech-item" title="Laravel">
        <div class="tech-icon">
          <i class="fab fa-laravel"></i>
        </div>
        <span class="tech-name">Laravel</span>
      </div>
      <div class="tech-item" title="MySQL">
        <div class="tech-icon">
          <i class="fas fa-database"></i>
        </div>
        <span class="tech-name">MySQL</span>
      </div>
      <div class="tech-item" title="PHP">
        <div class="tech-icon">
          <i class="fab fa-php"></i>
        </div>
        <span class="tech-name">PHP</span>
      </div>
      <div class="tech-item" title="Java">
        <div class="tech-icon">
          <i class="fab fa-java"></i>
        </div>
        <span class="tech-name">Java</span>
      </div>
    </div>
  </div>

  <div class="tech-category">
    <h3 class="category-title">Version Control & Tools</h3>
    <div class="tech-items">
      <div class="tech-item" title="Git">
        <div class="tech-icon">
          <i class="fab fa-git-alt"></i>
        </div>
        <span class="tech-name">Git</span>
      </div>
      <div class="tech-item" title="GitHub">
        <div class="tech-icon">
          <i class="fab fa-github"></i>
        </div>
        <span class="tech-name">GitHub</span>
      </div>
      <div class="tech-item" title="GitLab">
        <div class="tech-icon">
          <i class="fab fa-gitlab"></i>
        </div>
        <span class="tech-name">GitLab</span>
      </div>
      <div class="tech-item" title="npm">
        <div class="tech-icon">
          <i class="fab fa-npm"></i>
        </div>
        <span class="tech-name">npm</span>
      </div>
    </div>
  </div>

  <div class="tech-category">
    <h3 class="category-title">Design & UI</h3>
    <div class="tech-items">
      <div class="tech-item" title="Figma">
        <div class="tech-icon">
          <i class="fab fa-figma"></i>
        </div>
        <span class="tech-name">Figma</span>
      </div>
    </div>
  </div>
</div>
