* {
  font-family: "Pompiere", sans-serif;
}

.contact {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 33em;
  box-shadow: 0 2px 8px 5px #bcbcbca5;
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 53%;
    font-size: 96px;
    font-weight: 600;
  }

  h3 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    width: 53%;
    margin-bottom: 1em;
    color: rgb(126, 126, 126);
    font-size: 26px;
    font-weight: 100;
    line-height: 1.3em;
  }

  .socialMedias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin-top: 2em;
  }

  #card {
    width: 40%;
    height: 3em;
    margin: 1em;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
    }

    a:hover {
      opacity: 0.8;
    }

    h4 {
      width: 60%;
      text-align: left;
      margin-left: 0.5em;
      font-size: 20px;
    }
  }
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;

  img {
    margin: 0;
    display: flex;
    justify-content: left;
    width: 70%;
    height: 92%;
  }
}

.formEmail {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 30em;
  background: linear-gradient(rgb(251,251,251), white);
}

.leftForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6em;

  p {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 75%;
    align-items: center;
    font-size: 38px;
    font-weight: 100;
    margin-bottom: 0.5em;
  }

  h3 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 75%;
    align-items: center;
    font-weight: 100;
    margin-bottom: -0.2em;
  }

  input {
    width: 75%;
    height: 45px;
    line-height: 1.7;
    margin-top: 0.5em;
    border-radius: 5px;
    border: 1px solid #777777;
    margin-bottom: 2em;
    background-color: white;
    padding: 0.3em;
  }
}

.rightForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5.5em;

  h3 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    align-items: center;
    font-weight: 100;
    margin-top: 1.1em;
    margin-bottom: -0.2em;
  }

  textarea {
    width: 70%;
    height: 145px;
    margin: 0;
    line-height: 1.7;
    margin-top: 0.5em;
    border-radius: 5px;
    border: 1px solid #777777;
    background-color: white;
    padding: 0.3em;
  }

  button {
    margin-top: 1.5em;
    width: 8em;
    height: 2.5em;
    border-radius: 5px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-right: 9em;
  }
}
