* {
  font-family: "Pompiere", sans-serif;
}

#mobile {
  display: none;
}

.contact {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 33em;
  box-shadow: 0px 15px 4px 0px rgba(188,188,188,0.42);
}

.left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 53%;
    font-size: 96px;
    font-weight: 600;
  }

  h3 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    width: 53%;
    margin-bottom: 1em;
    color: rgb(126, 126, 126);
    font-size: 26px;
    font-weight: 100;
    line-height: 1.3em;
  }

  .socialMedias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin-top: 2em;
  }

  #card {
    width: 40%;
    height: 3em;
    margin: 1em;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
    }

    a:hover {
      opacity: 0.8;
    }

    h4 {
      width: 60%;
      text-align: left;
      margin-left: 0.5em;
      font-size: 20px;
    }
  }
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;

  img {
    margin: 0;
    display: flex;
    justify-content: left;
    width: 70%;
    height: 92%;
  }
}

.formEmail {
  margin-top: 0.2em;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 30em;
  background: linear-gradient(rgb(251, 251, 251), white);
}

.leftForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6em;

  p {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 78%;
    align-items: center;
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  h2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 75%;
    align-items: center;
    font-weight: 100;
    margin-bottom: -0.2em;
    margin-left: 2.2em;
  }

  input {
    width: 75%;
    height: 45px;
    line-height: 1.7;
    margin-top: 0.5em;
    border-radius: 5px;
    border: 1px solid #777777;
    margin-bottom: 2em;
    background-color: white;
    padding: 0.3em;
    padding-left: 0.6em;
    font-size: 18px;
    margin-left: 4em;
  }
}

.rightForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3.5em;

  h2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    align-items: center;
    font-weight: 100;
    margin-top: 2.5em;
    margin-bottom: -0.2em;
  }

  textarea {
    width: 70%;
    height: 170px;
    margin: 0;
    line-height: 1.7;
    margin-top: 0.5em;
    border-radius: 5px;
    border: 1px solid #777777;
    background-color: white;
    padding: 0.3em;
    padding-left: 0.6em;
    font-size: 18px;
  }

  #send {
    margin-top: 1em;
    width: 8em;
    height: 2.5em;
    border-radius: 5px;
    background-color: rgb(52, 52, 52);
    color: white;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-right: -4.2em;
    border: none;
  }

  #send:hover {
    transform: scale(1.02);
    background-color: rgb(32, 32, 32);
    cursor: pointer;
  }

  #send:disabled {
    background-color: rgb(127, 127, 127);
    cursor: default;
  }
}

.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.modal-confirm .modal-header {
  background: #47c9a2;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}

.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: 0.5px;
  right: 15px;
  color: #fff;
  font-size: 38px;
  cursor: pointer;
}

.modal-confirm .icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}
.modal-confirm .icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}

@media (max-width: 912px) and (min-width: 699px) {
  #mobile {
    display: none;
  }

  .contact {
    height: 25em;
  }

  p {
    font-size: 84px;
    font-weight: 600;
  }

  .left {
    h3 {
      margin-top: -1em;
      font-size: 26px;
    }

    .socialMedias {
      margin-left: 4em;
    }

    #card {
      width: 30%;
      height: 2em;
      margin: 1.5em;
      margin-top: -0.5em;

      img {
        width: 2.3em !important;
      }

      h4 {
        width: 60%;
        text-align: left;
        margin-left: 0.5em;
        font-size: 20px;
        margin-top: 0.4em;
      }
    }
  }

  .right {
    img {
      height: 85%;
    }
  }

  .formEmail {
    height: 30em;
    margin-bottom: 4em;
  }

  .leftForm {
    margin: 0;
    margin-left: 2em;

    p {
      margin-left: 0.7em;
    }

    h2 {
      margin-left: 1.1em;
    }

    input {
      margin-left: 2em;
    }
  }

  .rightForm {
    margin-left: 4em;
    margin-top: 3em;

    textarea {
      width: 80%;
    }
  }
}

@media (max-width: 700px) {
  #mobile {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 600;
    margin-top: 0.5em;
  }

  .contact {
    margin-top: -4em;
    height: 21em;
  }

  #title {
    visibility: hidden;
  }

  .left {
    margin-left: -0.5em;

    h3 {
      margin-top: -3.5em;
      font-size: 22px;
    }

    .socialMedias {
      margin-top: 1em;
      margin-left: 1em;
    }

    #card {
      width: 50%;
      height: 2em;
      margin: 1.5em;
      margin-top: -0.5em;

      img {
        width: 2em !important;
      }

      h4 {
        width: 60%;
        text-align: left;
        margin-left: 0.5em;
        font-size: 20px;
        margin-top: 0.4em;
      }
    }
  }

  .right {
    margin-left: -3em;

    img {
      width: 90%;
      height: 80%;
    }
  }

  .formEmail {
    flex-direction: column;
    width: 100%;
    height: 45em;
    padding-top: 2em;
    margin-bottom: 3em;
  }

  .leftForm {
    width: 100%;
    margin: 0;
    padding: 0;

    h2 {
      margin-left: 1.1em;
    }

    input {
      margin-left: 2em;
    }
  }

  .rightForm {
    width: 90%;
    padding: 0;
    margin: -5em 0 0 0;

    h2 {
      margin-left: 1.1em;
    }

    textarea {
      margin: 2em;
      width: 85%;
    }

    #send {
      margin-top: -0.5em;
      margin-left: 1.8em;
    }
  }
}
