<div class="contactPage">
  <p id="mobile">contact.</p>
  <div class="contact">
    <div class="left">
      <p id="title">contact.</p>
      <h3>Get in touch with me via social media or email.</h3>
      <div class="socialMedias">
        <div id="card">
          <a href="https://www.linkedin.com/in/karoline-rrocha/" target="_blank">
            <img src="./assets/linkedin.png" style="width: 3em;">
            <h4 style="color: #0982c0">LinkedIn</h4>
          </a>
        </div>
        <div id="card">
          <a href="https://github.com/KarolineRRocha" target="_blank">
            <img src="./assets/github.png" style="width: 3em;" href="https://github.com/KarolineRRocha">
            <h4 style="color: black;">GitHub</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="right">
      <img src="./assets/KAROLImageSemBack.png">
    </div>
  </div>

  <form [formGroup]="form" action="javascript:void(0)" (submit)="send()">
    <div class="formEmail">
      <div class="leftForm">
        <p>Send me an email</p>
        <h2>Name</h2>
        <input formControlName="from_name" type="text" name="name" id="name" placeholder="Name">

        <div id="messageError" *ngIf="form.get('from_name')?.errors?.['required'] && form.get('from_name')?.touched">
          Name is required!
        </div>

        <h2>Email</h2>
        <input formControlName="from_email" type="email" name="email" id="email" placeholder="Email"
          placeholder="Enter your email.">

        <div id="messageError"
          *ngIf="form.get('from_email')?.errors?.['required'] && form.get('from_email')?.touched">
          Email is required!
        </div>

        <div id="messageError" *ngIf="form.get('from_email')?.errors?.['pattern'] && notEmpity">
          Please enter valid email address!
        </div>
      </div>

      <div class="rightForm">
        <h2>Message</h2>
        <textarea formControlName="message" name="message" id="message" rows="10" cols="40"
          placeholder="Type your message."></textarea>

        <div id="messageErrorType" *ngIf="form.get('message')?.errors?.['required'] && form.get('message')?.touched">
          Message is required!
        </div>
        <!-- <a href="#myModal" data-toggle="modal"> -->
        <button id="send" type="submit" [disabled]="!form.valid">Send</button>
        <!-- </a> -->
      </div>
    </div>
  </form>
</div>

<!-- Modal HTML -->
<!-- <div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 448 512"><style>svg{fill:white}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" style="margin-top: -0.5em;"/></svg>
        </div>
        <div class="close" data-dismiss="modal">&times;</div>
      </div>
      <div class="modal-body text-center">
        <h4>Great!</h4>
        <p style="font-size: 24px;">Your email has been sent successfully.</p>
      </div>
    </div>
  </div>
</div> -->
