<app-scroll-top></app-scroll-top>
<ul>
  <li id="copyright"><a href=""><span style="font-size: 18px;">© 2023 </span>Karoline Rocha</a></li>
  <li><a routerLink="about">about</a></li>
  <li><a href="#news">technologies</a></li>
  <li><a routerLink="projects">projects</a></li>
  <li><a routerLink="contact">contact</a></li>
</ul>
<i class="fas fa-clock" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>


<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>