.row {
  display: flex;
  text-align: center;
  width: 100%;
  height: 25.5em;
  margin-top: 2em;
  margin: 0;
  padding: 1em;
  margin-top: 2em;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-left: 1em;
  color: var(--gray-color);
  font-size: 50px;
  font-weight: 600;
  line-height: 2em;
}

#hello p {
  width: 100%;
}

#hello {
  font-size: larger;
}

.left span {
  margin-left: 0.3em;
  color: #f2797b;
}

.right {
  width: 48%;
  height: 100%;
  padding-left: -2em;
}

.terminal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

img {
  width: 85%;
}

.links {
  width: 60%;
  height: 4em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  right: 0;
  margin-bottom: 6.7em;
}

#hr {
  width: 100%;
  border: 1.5px solid #ec9190;
}

.spaceLink {
  width: 20%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#github_logo {
  margin: 0 -5em 0 0;
}

#mail_logo {
  margin: 0 0 0 -5em;
}

#mail_logo,
#lkIn_logo,
#github_logo {
  padding: 0.5em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  box-shadow: -8px 5px 25px 0px rgba(0, 0, 0, 0.35);

  img {
    width: 22px;
    height: 24px;
  }
}

#mail_logo:hover,
#lkIn_logo:hover,
#github_logo:hover {
  transform: scale(1.2);
  box-shadow: -24px 27px 65px 0px rgba(0, 0, 0, 0.75);
  background-position: center;
}

.div {
  margin-top: -5em;
  box-shadow: 0 0 5px 6px rgba(188, 188, 188, 0.647);
}

@media (max-width: 768px) and (min-width: 699px) {
  .row {
    margin-top: 0;
  }

  .left {
    font-size: 36px;
  }

  .right {
    margin-left: -1em;
  }

  .links {
    width: 80%;
    margin-top: -4em;
  }
}

@media (max-width: 700px) {
  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-left: 1.5em;
    margin: 0;
    padding: 0;
  }

  .left {
    padding: 0;
    margin-top: -3em;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.4em;
    width: 100%;
  }

  .right {
    width: 100%;
    margin-top: -15em;
  }

  img {
    width: 75%;
  }

  .links {
    width: 90%;
    padding: 1em;
    margin-top: -2em;
  }

  #github_logo {
    margin: 0 0 0 1.5em;
  }

  #mail_logo {
    margin: 0 1.5em 0 0;
  }

  #mail_logo,
  #lkIn_logo,
  #github_logo {
    padding: 0.3em;
    width: 2em;
    height: 2em;
    box-shadow: -6px 5px 10px 0px rgba(0, 0, 0, 0.25);

    img {
      width: 20px;
      height: 19px;
    }
  }
}
