<div class="row">
  <div class="left">
    <p id="hello">Hello,</p>
    <p>I'm<span>Karoline Rocha.</span></p>
  </div>

  <div class="right">
    <div class="terminal">
      <img
        src="https://raw.githubusercontent.com/sfoteini/responsive-web-design-freeCodeCamp/fb2b6eac8dfc8903983db91fbb491d134ba266e6/personal-portfolio/images/code-1.svg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260"
        alt="Man holding camera looking at fireworks">
    </div>
  </div>
</div>

<div class="links">
  <div class="spaceLink">
    <hr id="hr">
  </div>
  <div class="spaceLink">
    <a id="github_logo" href="https://github.com/KarolineRRocha" target="_blank">
      <img src="./../../../assets/imgs/gitHubIcon.png">
    </a>
  </div>
  <div class="spaceLink">
    <a id="lkIn_logo" href="https://www.linkedin.com/in/karoline-rrocha/" target="_blank">
      <img src="./../../../assets/imgs/linkedInIcon.png">
    </a>
  </div>
  <div class="spaceLink">
    <a id="mail_logo" href="" target="_blank">
      <img src="./../../../assets/imgs/emailIcon.png">
    </a>
  </div>
  <div class="spaceLink">
    <hr id="hr">
  </div>
</div>
<div class="div"></div>
