<div class="projectPage">
  <div class="header">
    <div class="left">
      <label id="title">Creating video sharing platform</label>
      <hr>
      <div id="author">
        <h4 id="name">Karoline Rocha, Camilla, Mychaela</h4>
        <h4>2022</h4>
      </div>
      <p>
        We created a web application for hosting and sharing videos. Our goal was to keep things simple and flexible to
        ensure they were actually used.
      </p>
    </div>
    <div class="right">
      <img src="./assets/upLoadImage.png">
    </div>
  </div>

  <div class="technologies">
    <div class="container">
      <hr>
      <h4>TECHNOLOGIES</h4>
      <hr>
    </div>

    <section>
      <div class="wrapper">
        <article class="badge red">
          <div class="rounded"><img src="./assets/angularIcon.png"></div>
        </article>
        <article class="badge blue">
          <div class="rounded"><img src="./assets/typescriptIcon.png" style="margin: 0.2em 0 0 0.2em;"></div>
        </article>
        <article class="badge gold">
          <div class="rounded"><img src="./assets/javascriptIcon.png" style="width: 35px; margin: 0.45em;"></div>
        </article>
        <article class="badge orange">
          <div class="rounded"><i class="fab fa-html5"></i></div>
        </article>
        <article class="badge purple">
          <div class="rounded"><i class="fab fa-php"></i></div>
        </article>
        <article class="badge green">
          <div class="rounded"><i class="fab fa-node"></i></div>
        </article>
        <article class="badge crimson">
          <div class="rounded"><i class="fab fa-npm"></i></div>
        </article>
        <article class="badge steel">
          <div class="rounded"><i class="fab fa-python"></i></div>
        </article>
        <article class="badge pink">
          <div class="rounded"><i class="fab fa-sass"></i></div>
        </article>
        <article class="badge rebecca">
          <div class="rounded"><i class="fab fa-bootstrap"></i></div>
        </article>
        <article class="badge gainsboro">
          <div class="rounded"><i class="fab fa-java"></i></div>
        </article>
      </div>
    </section>
  </div>
</div>
