* {
  font-size: 1.6rem;
  font-weight: 100;
}

img {
  height: 2.5em;
  cursor: pointer;
  margin-top: -0.5em;
}

.nav {
  display: flex;
  gap: 9vw;
  width: 100%;
  margin: 0;
  padding: 1em 1em 0.5em 1em;
  overflow: hidden;
  box-shadow: 0px 7px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: rgb(32, 21, 1);
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links > a {
  margin-left: 0.4em;
  text-decoration: none;
  color: white;
}

.code {
  color: rgb(32, 21, 1);
  transition: color 0.3s ease-out;
}

a:hover .code {
  color: #f2797b;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 700px) {
  .nav {
    margin: 0;
    padding: 0;
    height: 2.4em;
  }

  img {
    margin: 0.5em 0 0 0;
    height: 36px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    left: 80%;
    top: 0;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 40px;
    height: 50px;
    padding: 18px 13px;
    cursor: pointer;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 10px;
    border-top: 2px solid grey;
  }

  .nav > .nav-links {
    position: absolute;
    background-color: rgb(32, 21, 1);
    opacity: 0.95;
    transition: all 0.4s ease-in;
    overflow-y: hidden;
    top: 2.4em;
    width: 100%;
    margin: 0;
    height: 16em;
    box-shadow: 0px 7px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .nav > .nav-links > a {
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 1.5em 0.5em 0 0;
    text-decoration: none;
    color: white;
  }

  .nav > .nav-links > a:hover .code {
    color: #f2797b;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
}
