<app-loading-page></app-loading-page>
<div class="nav" id="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div>
    <img id="logo" src="./../../../assets/imgs/KLogo.png" routerLink="home">
  </div>

  <div class="nav-links">
    <a routerLink="about">
      <span class="code">&lt;</span>
      about
      <span class="code">&#47;&gt;</span>
    </a>
    <a href="http://stackoverflow.com/users/4084003/" target="_blank">
      <span class="code">&lt;</span>
      technologies
      <span class="code">&#47;&gt;</span>
    </a>
    <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">
      <span class="code">&lt;</span>
      projects
      <span class="code">&#47;&gt;</span>
    </a>
    <a routerLink="contact">
      <span class="code">&lt;</span>
      contact
      <span class="code">&#47;&gt;</span>
    </a>
  </div>
</div>
