<div class="div">
  <div class="container">
    <hr>
    <h4>LATEST PROJECTS</h4>
    <hr>
  </div>

  <div class="cards">
    <div id="card">
      <a routerLink="upload-project">
        <div class="photo">
          <img src="./assets/upLoadImage.png">
        </div>
        <label>Upload</label>
        <p>Video sharing platform.<span><img src="./assets/arrowPage.JPG"></span></p>
      </a>
    </div>
    <div id="card">
      <a href="https://karolinerrocha.github.io/JogoQuatroEmLinha/" target="_blank">
        <div class="photo">
          <img src="./assets/mundoDosJogos.JPG">
        </div>
        <label>Mundo dos Jogos</label>
        <p>Page with games.<span><img src="./assets/arrowPage.JPG"></span></p>
      </a>
    </div>
    <div id="card">
      <a href="https://karolinerrocha.github.io/cookbook-page/index.html" target="_blank">
        <div class="photo">
          <img src="./assets/cookbookPageBanner.png">
        </div>
        <label>They develop and cook</label>
        <p>Cookbook colaboration page.<span><img src="./assets/arrowPage.JPG"></span></p>
      </a>
    </div>
  </div>
</div>
