* {
  font-family: "Pompiere", sans-serif;
}

.div {
  background: linear-gradient(rgb(251, 251, 251), white);
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
  padding-top: 5em;
  padding-bottom: 5em;
}

hr {
  width: 30%;
}

h4 {
  display: flex;
  justify-content: center;
  width: 40%;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: grey;
  margin: 0 -4em 0 -4em;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 20em;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 16.5em;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 2%;
  padding: 0.5em;
}

img {
  width: 100%;
  height: 11em;
  padding-bottom: 1.3em;
}

p {
  line-height: 0.8em;
  width: 100%;
  padding: 0.3em 0 0 1em;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    margin-top: -2em;
    padding-top: 4em;
    padding-bottom: 4em;
  }

  hr {
    width: 25%;
  }

  h4 {
    font-size: 14px;
    margin: 0;
  }

  .cards {
    width: 98%;
    height: 33em;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4em;
  }

  #card {
    width: 40%;
    margin: 0.9em;
    height: 13em;
  }

  img {
    height: 9em;
  }

  p {
    font-size: 14px;
    line-height: 0.6em;
    width: 100%;
    padding: 0;
  }
}
