* {
  font-family: "Pompiere", sans-serif;
}

.div {
  background: linear-gradient(rgb(251, 251, 251), white);
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
  padding-top: 5em;
  padding-bottom: 5em;
}

hr {
  width: 30%;
}

h4 {
  display: flex;
  justify-content: center;
  width: 40%;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: grey;
  margin: 0 -4em 0 -4em;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 20em;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 27%;
  height: 17em;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 2%;
  padding: 0.5em;
}

#card:hover {
  box-shadow: 0px 8px 26px -6px rgba(0, 0, 0, 0.55);

  span {
    display: block;
    float: right;
    padding-right: 0.7em;

    img {
      animation: slide1 1s ease-in-out infinite;
      width: 1.5em;
      height: 1em;
    }
  }
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

.photo {
  background-color: rgba(247, 247, 247, 0.835);
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 11em;
  border-radius: 2%;
  padding: 0.7em;

  img {
    width: 100%;
    height: 100%;
  }
}

label {
  color: black;
  font-size: 24px;
  width: 100%;
  padding-left: 0.5em;
  margin: 0.5em 0 -0.1em 0;
}

p {
  font-size: 20px;
  width: 100%;
  padding-left: 0.7em;
  color: grey;
  float: left;

  span {
    display: none;
  }
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    margin-top: -2em;
    padding-top: 3em;
    padding-bottom: 4em;
  }

  hr {
    width: 25%;
  }

  h4 {
    font-size: 14px;
    margin: 0;
  }

  .cards {
    width: 98%;
    height: 33em;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3em;
  }

  #card {
    width: 40%;
    margin: 0.9em;
    height: 11.5em;
  }

  img {
    height: 8.5em;
  }

  p {
    font-size: 14px;
    line-height: 0.6em;
    width: 100%;
    padding: 0;
  }

  .photo {
    height: 7em;
  }

  label {
    font-size: 18px;
    padding-left: 0.5em;
  }

  p {
    padding: 0.3em 0 0 0.7em;
  }
}
