<div class="div">
  <div class="container">
    <hr>
    <h4>LATEST PROJECTS</h4>
    <hr>
  </div>

  <div class="cards">
    <div id="card">
      <a href="https://karolinerrocha.github.io/upload/" target="_blank">
        <img src="./assets/upLoadImage.png">
        <label>Upload</label>
        <p>Video sharing platform.<span><img src="./assets/arrowPage.JPG"></span></p>
      </a>
    </div>
    <div id="card">
      <a href="" target="_blank">
        <img src="">
      </a>
      <label>Title</label>
      <p>Information.<span><img src="./assets/arrowPage.JPG"></span></p>
    </div>
    <div id="card">
      <a href="" target="_blank">
        <img src="">
      </a>
      <label>Title</label>
      <p>Information.<span><img src="./assets/arrowPage.JPG"></span></p>
    </div>
  </div>
</div>
