.app-splash-screen {
  background: black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: bottom 0.2ms;
  z-index: 1;

  .app-label {
    padding: 0 2em 0 2em;

    p {
      color: #fff;
      font-size: 26px;
      font-family: "Pacifico", cursive;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  }

  .app-splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app-loader {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-size: contain;
    width: 80px;
    height: 80px;
    margin-top: 80px;
  }
}

@media (max-width: 700px) {
  .app-label {
    margin-top: 1em;
    padding: 0 0.5em 0.5 0.5em;

    p {
      padding-bottom: 0.4em;
      font-size: 24px;
    }
  }

  .app-loader {
    display: flex;
    justify-content: center;
  }
}
