.app-splash-screen {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: bottom 0.2ms;
  z-index: 1;
}

.app-label {
  margin-top: 32px;
  color: #fff;
  font-size: 1.5em;
  font-family: "Pacifico", cursive;
}

.app-splash-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-loader {
  background: url("./../../../assets/imgs/three-dots.svg");
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin-top: 80px;
}
